.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  padding: 24px;
  background-color: var(--colorPrimary);
  flex-direction: column;
  margin: 1rem 0;
  min-height: 70vmin;
  border-radius: 1.5rem;
}

.carouselWrapper {
  display: flex !important;
}

.carouselDots button {
  margin: 10px 3px 0 3px;
}

.carouselDots .slick-active button::after {
  height: 4px;
  border-radius: 3px;
  background-color: aliceblue;
  margin: 5px 3px 0 3px;
}

.tableControls {
  margin: 1rem 0 1.5rem 0;
  gap: 1rem;
}

.contactsList {
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
  padding: 0;
}

.contactsList > li {
  text-align: center;
}

.socials {
  gap: 0.8rem;
  list-style: none;
  padding: 0;
}

.socialIcon {
  max-height: 1.5rem;
}

.target {
  cursor: url(./assets/cursors/targetCursor.cur), pointer;
}

button,
a,
.ant-dropdown-trigger,
.ant-table-column-has-sorters,
.ant-select-item,
.ant-pagination-item,
.ant-menu-item,
.ant-typography-copy,
.ant-image-mask {
  cursor: url(./assets/cursors/targetCursor.cur), pointer !important;
}

.ant-menu-item {
  fill: var(--colorText);
}

.ant-menu-item-selected {
  fill: var(--colorPrimary);
}

.ant-select-dropdown {
  background-color: var(--colorBg);
}

.homeWrapper {
  position: relative;
  background: rgba(25, 40, 35, 1);
  background: linear-gradient(
    0deg,
    rgba(16, 32, 50, 0.9) 0%,
    rgba(25, 40, 35, 1) 5%,
    rgba(2, 2, 2, 0.8) 12%,
    rgba(2, 2, 2) 78%,
    rgba(25, 40, 35, 1) 95%,
    rgba(16, 32, 50, 1) 100%
  );
  padding-top: 7rem;
  padding: 7rem 0;
}

.filter {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(25, 40, 35, 1);
  background: linear-gradient(
    0deg,
    rgba(16, 32, 50, 0.9) 0%,
    rgba(25, 40, 35, 1) 5%,
    rgba(2, 2, 2) 15%,
    transparent 20%,
    transparent 78%,
    rgba(2, 2, 2) 85%,
    rgba(25, 40, 35, 1) 95%,
    rgba(16, 32, 50, 1) 100%
  );
}

.paragraph {
  margin: 0;
  padding: 6rem 10% 0 10%;
  font-size: 1.5rem;
  display: flex;
}

.contentRight {
  padding-top: 2rem;
  justify-content: flex-end;
}

.actionCall {
  color: var(--colorPrimary);
}

.buttonCall {
  display: flex;
  padding-right: 8.5%;
}

.videoFrame {
  z-index: 1;
  width: 100%;
}

.error {
  color: var(--error);
}

@media (max-width: 768px) {
  .mobileAdaptive {
    flex-direction: column;
    gap: 0.5rem;
  }

  .tableControls {
    display: none;
  }
}
