.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  padding: 24px;
  background-color: #f7e29a;
  flex-direction: column;

  margin: 1rem 0;
  min-height: 70vmin;
}

.carouselWrapper {
  display: flex !important;
}

.carouselDots button {
  margin: 10px 3px 0 3px;
}

.carouselDots .slick-active button::after {
  height: 4px;
  border-radius: 3px;
  background-color: aliceblue;
  margin: 5px 3px 0 3px;
}

.tableControls {
  margin: 1rem 0 1.5rem 0;
  gap: 1rem;
}

.contactsList {
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
  padding: 0;
}

.contactsList > li {
  text-align: center;
}

.socials {
  gap: 0.8rem;
  list-style: none;
  padding: 0;
}

.socialIcon {
  max-height: 1.5rem;
}

@media (max-width: 768px) {
  .mobileAdaptive {
    flex-direction: column;
    gap: 0.5rem;
  }

  .tableControls {
    display: none;
  }
}
