:root {
  --colorPrimary: #1ea6bb5b;
  --colorAccent: #1677ff;
  --colorText: #ebfaf9;
}

body {
  margin: 0;
  font-family: 'Play', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--colorText);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
